<HEAD><TITLE>Animation Techniques in BRL-CAD</TITLE></HEAD>
<BODY>
For purposes of simplicity and practicality
many details of the true structure of video imaging will be blatantly glossed
over.  Such details are beyond the scope of this paper.  Purists are asked to
remain quiet.  Novices are directed to one of the following:
<P>
Charles M. Kennedy,
<I>``Video Hardware for Making Movies,''</I> in
<I>Proceedings of the 1991 BRL-CAD Symposium,</I>
held at Aberdeen Proving Ground, Maryland, 
May 7-9 1991.
<p>
Also in 
<I>``The Ballistic
Research Laboratory CAD Package Release 4.0 Manuals, Volume V, Analyst's Manual''</I>
Page V5S14A01
<p>
<p>
<P>
<I>Television Engineering Handbook,</I>
ed. K. Blair Benson,
McGraw-Hill Book Company, 1986.
ISBN 0-07-004779-0
</BODY>
