<HEAD><TITLE>HyPlan file for Lee A. Butler</TITLE></HEAD>
<BODY>
<H1>Lee A. Butler</H1>

<ADDRESS>Attn: AMSRL-SL-BV</ADDRESS>
<ADDRESS>U.S. Army Research Laboratory</ADDRESS>
<ADDRESS>Aberdeen Proving Ground, MD  21005-5068</ADDRESS>
<P>
<ADDRESS>Phone: (410) 278-9200</ADDRESS>
<ADDRESS>E-Mail: butler@arl.mil</ADDRESS>
<IMG SRC="Lee_tux.gif">
</BODY>
